.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar */

nav {
  z-index: 2;
}

.logo {
  width: 16.25rem;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

/* Header */

.header-wrapper {
  position: relative;
  background: url(./Components/bridge_purple.jpg);
  background-size: cover;
  background-position: center;
  height: 20vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* bottom: 0; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
}

.typed-text {
  font-size: 2rem;
  color: white;
}

.btn-main-offer {
  border: 1px solid white;
  border-radius: 1rem;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: white;

}

/* Particles */

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

/* Aboutme */

.AboutMe {
  border: 1px;
  background: grey;
  z-index: 2;
}
